rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tasks/{taskId} {
      allow read, write: if true;
    }
    match /fcm_tokens/{tokenId} {
      allow read, write: if true;
    }
    match /user_profiles/{profileId} {
      allow read, write: if true;
    }
  }
}
